<app-navbar></app-navbar>
<div class="container mt-5 mb-5">
    <div class="text-center mb-2-8 mb-lg-6">
        <h2 class="display-18 display-md-16 display-lg-14 font-weight-700" class="font-weight-bold">Why choose <strong class="text-primary font-weight-700">Us</strong></h2>
        <span>The trusted source for why choose us</span>
    </div>
    <div class="row align-items-center">
        <div class="col-sm-6 col-lg-4 mb-2-9 mb-sm-0">
            <div class="pr-md-3">
                <div class="text-center text-sm-right mb-2-9">
                    <div class="mb-4">
                        <img src="../../assets/img/bank3 (1).png" alt="..." class="rounded-circle">
                    </div>
                    <h4 class="font-weight-bold" >Money <strong class="text-primary font-weight-700">Transaction</strong></h4>
                  
                    <p class="display-30 mb-0">Roin gravida nibh vel velit auctor aliquetenean sollicitudin, lorem qui bibendum auctor.</p>
                </div>
                <div class="text-center text-sm-right">
                    <div class="mb-4">
                        <img src="../../assets/img/bank2 (1).png" alt="..." class="rounded-circle">
                    </div>
                    <h4  class="font-weight-bold">Carte <strong class="text-primary font-weight-700">& </strong>epargne</h4>
                    <p class="display-30 mb-0">Gravida roin nibh vel velit auctor aliquetenean sollicitudin, lorem qui bibendum auctor.</p>
                </div>
            </div>
        </div>
        <div class="col-lg-4 d-none d-lg-block">
            <div class="why-choose-center-image">
                <img src="../../assets/img/bank1.png" alt="..." class="rounded-circle">
            </div>
        </div>
        <div class="col-sm-6 col-lg-4">
            <div class="pl-md-3">
                <div class="text-center text-sm-left mb-2-9">
                    <div class="mb-4">
                        <img src="../../assets/img/credit (1).png" alt="..." class="rounded-circle">
                    </div>
                    <h4  class="font-weight-bold">Credit <strong class="text-primary font-weight-700">Simulation</strong></h4>
                    <p class="display-30 mb-0">Nibh roin gravida vel velit auctor aliquetenean sollicitudin, lorem qui bibendum auctor.</p>
                </div>

                <div class="text-center text-sm-left">
                    <div class="mb-4">
                        <img src="../../assets/img/security (1).png" alt="..." class="rounded-circle">
                    </div>
                    <h4 class="font-weight-bold">Full <strong class="text-primary font-weight-700">Security</strong></h4>
                    <p class="display-30 mb-0">Vel proin gravida nibh velit auctor aliquetenean sollicitudin, lorem qui bibendum auctor.</p>
                </div>
            </div>
        </div>
    </div>
</div>
<app-footer></app-footer>