<div class="container mt-4">
  <ng-container *ngIf="customers | async as listCustomers; else failureOrLoading">
    <div class="card">
      <div class="card-header bg-primary text-white">Customers</div>
      <div class="card-body">
        <!-- Search Form -->
        <form [formGroup]="searchFormGroup" (ngSubmit)="handleSearchCustomers()">
          <div class="input-group mb-3">
            <span class="input-group-text">Keyword</span>
            <input type="text" formControlName="keyword" class="form-control">
            <button class="btn btn-primary" type="submit">
              <i class="bi bi-search"></i>
            </button>
          </div>
        </form>

        <!-- Customers Table -->
        <table class="table table-striped table-hover">
          <thead class="table-dark">
            <tr>
              <th>ID</th>
              <th>Name</th>
              <th>Email</th>
              <th></th>
              <th></th>
              <th></th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let c of listCustomers">
              <td>{{c.id}}</td>
              <td>{{c.name}}</td>
              <td>{{c.email}}</td>
              <td>
                <button (click)="handleDeleteCustomer(c)" class="btn btn-danger btn-sm">
                  <i class="bi bi-trash"></i> Delete
                </button>
              </td>
              <td>
                <button (click)="handleCustomerAccounts(c)" class="btn btn-success btn-sm">
                  <i class="bi bi-wallet"></i> Accounts
                </button>
              </td>
              <td>
                <button (click)="handleUpdateCustomer(c)" class="btn btn-warning btn-sm">
                  <i class="bi bi-pencil"></i> Update
                </button>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </ng-container>

  <ng-template #failureOrLoading>
    <div class="card">
      <div class="card-body">
        <div *ngIf="errorMsg" class="text-danger">Error Message = {{errorMsg | json}}</div>
        <div *ngIf="!(errorMsg)" class="text-center">Loading ...</div>
      </div>
    </div>
  </ng-template>
</div>
