<div class="container mt-4">
    <div class="dashboard">
      <div class="header">
        <h1 class="title">Financial Dashboard</h1>
        <div class="metrics">
          <div class="metric">
            <span class="value">{{totalAccounts}}</span>
            <span class="label">Total Accounts</span>
          </div>
          <div class="metric">
            <span class="value">{{totalCustomers}}</span>
            <span class="label">Total Customers</span>
          </div>
          <div class="metric">
            <span class="value">{{totalEmployees}}</span>
            <span class="label">Total Employees</span>
          </div>
        </div>
      </div>
  
      <div class="main-content">
        <div class="row">
          <div class="col-md-6">
            <div class="card">
              <div class="card-body">
                <h5 class="card-title">Overview Chart</h5>
                <canvas #myChart style="width: 100%; height: 300px;"></canvas>
              </div>
            </div>
          </div>
  
          <div class="col-md-6">
            <div class="row">
              <div class="col-md-6">
                <div class="card">
                  <div class="card-body">
                    <h5 class="card-title">Accounts Overview</h5>
                    <canvas #pieChart style="width: 100%; height: 200px;"></canvas>
                  </div>
                </div>
              </div>
              <div class="col-md-6">
                <div class="card">
                  <div class="card-body">
                    <h5 class="card-title">Employees by Agency</h5>
                    <canvas #pieChartEmployee style="width: 100%; height: 200px;"></canvas>
                  </div>
                </div>
              </div>
            </div>
  
            <div class="card mt-3">
              <div class="card-body">
                <h5 class="card-title">Monthly Transactions</h5>
                <canvas #lineChart style="width: 100%; height: 200px;"></canvas>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
